*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Itim;
    src: url(../Fonts/Itim-Regular.ttf);
}
@font-face {
    font-family: PermanentMarker;
    src: url(../Fonts/PermanentMarker-Regular.ttf);
}
 
body{
    background-color: #4169E1bb;
    font-family: Itim, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    position: sticky;
    top: 0px;
    background-color: #000000bb;
    border: none;
    width: 100%;
    height: 100px;
    padding-bottom: 20px;
    z-index: 10;
}

.social img{

    width: 35px;
    margin: 5px 2px ;
    
}
.h{
    max-width: 30%;
    margin: auto;
    text-align: center;
    margin-top: -40px;
    background-color: 	#4169E1bb;
    border-radius: 20px;
    font-family: PermanentMarker;

}
hr{
    margin: auto;
    background-color: black;
}

h1{
    text-shadow: -2px -2px white;
}
.list{

    float: right;
    width: 35PX;
    transform: translate(-10px, -80px);
}

.conteiner{
    max-width: 80%;
    margin: auto;
    text-align: center;
    
}

ul{

    text-align: left;
    font-size: 20px;
    text-shadow: -1px -1px white;
    font-weight: bold;
    list-style:square;
    list-style-position: inside;
    margin-top: 20px;
    position: sticky;
    top: 140px;
    
    
    
}

h3{
    margin-bottom: 10px;
}


video{
    width: 430px;
    outline: 10px solid black;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    transform: translate(-217px, 113px);
    z-index: 3;
    box-shadow: 0px 0px 1000px black;
    
}

.tv{
    width:80%;
    margin: auto;
    transform: translatey(200px);
    position: relative;
    z-index: 2;
    background-image: url(../Images/sombras.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
    height: 400px;
    box-shadow: 0px 0px 400px black;
    border-radius: 20px;
    box-sizing: border-box;
    
    
    
    
}

.tv img{

    width: 500px;
    transform: translatey(-310px);

    
    
    
}

footer{
     background-color:#4169E1bb ;
     margin-top: 100px;
     height: 100px;
}



